//Mobilmeny\
//.xblock-huvudmeny-11 {
//    .xmenu {
//        .expand {
//            content: " + ";
//        }
//
//        .expand-indicator {
//            float: right;
//            display: block;
//            width: 3rem;
//            text-align: center;
//        }
//
//        ul {
//            margin: 0;
//            padding-top: 0;
//
//            li {
//                text-align: inherit;
//                padding: 0.3rem 0.5rem;
//
//                a.flyout-toggle {
//                    display: none;
//                }
//
//                a {
//                    padding: 0;
//                }
//            }
//
//            li.has-flyout {
//                clear: both;
//
//                ul.flyout {
//                    display: none;
//                    background: $primary-color-lighter;
//
//                    .expand-indicator {
//                        display: none;
//                    }
//                }
//
//                .expand {
//                    content: " + ";
//
//                    span {
//                        cursor: pointer;
//                    }
//                }
//
//                span::after {
//                    text-align: right;
//                }
//
//                ul {
//                    li {
//                        span::after {
//                            content: inherit;
//                        }
//                    }
//
//                    ul {
//                        a {
//                            text-transform: inherit;
//                            font-size: 0.9rem;
//
//                        }
//
//                    }
//
//                    ul.flyout {
//                        display: block; //Permanent öppethållande av undernivåer
//                        background: none;
//
//                    }
//                }
//
//                ul {
//                    li {
//                        span {
//                            color: $oil;
//                            //                            border-top: 1px dotted $white;
//                        }
//                    }
//
//                }
//            }
//
//        }
//
//        span {
//            color: $white;
//            text-transform: uppercase;
//            font-size: 1.1rem;
//            //            padding: 2px 0;
//            //            display: block;
//
//        }
//
//    }
//}


////////////////////
.mobilmenu-wrapper {
    .inner {
        background: $vapor;
        text-align: center;

        a {
            color: $white;
        }
    }

    position: absolute;
    top:145px;
    width: 100%;
    z-index: 100000;
}

.menu-ball {
    width: 44px;
    height: 44px;
    //    background-color: $nyaarter-orange;
    border-radius: 22px;
    //    display: inline-block;
    float: right;
}




//Hamburgare


// variabler

$pinne-height: 5px;
$pinne-distance: -10px;
$pinne-radius: 3px;
$hamburger-width: 40px;
$hamburger-height: 45px;

.c-hamburger.is-active {

    span::after,
    span::before {
        background: $steel;
    }
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $hamburger-width;
    height: $hamburger-height;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    //    margin-left: 3rem;

}

.c-hamburger:focus {
    outline: none;
}

/**/

.c-hamburger span {
    display: block;
    position: relative;
    top: 20px;
    //    left: 5px;
    //    right: 18px;
    height: $pinne-height;
    background: $nav-button-orange;
    border-radius: $pinne-radius;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $pinne-height;

    content: "";
    border-radius: $pinne-radius;
}

.c-hamburger span::before {
    top: $pinne-distance;
    background-color: $nav-button-green;
}

.c-hamburger span::after {
    bottom: $pinne-distance;
    background-color: $nav-button-blue;
}

/**/


.c-hamburger--htx {
    //    background-color: #ff3264;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
    //    background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}

/*Mobile menu\*/

.mobil_nav {
    background: $vapor;
    height: 100%;
    display: none;
    #main-navigation-content {
        margin: 0 auto;
        max-width: 400px;
        padding: 0;
        position: relative;
        padding: $column-gutter;
        section:nth-child(2) ul {
            padding: 0;
            margin: 0;
        }
        ul .is-active{
            display: block;
        }
        ul {
            list-style: outside none none;
            margin: 0;
            .flyout{
                display: none;
            }
            li {
//                text-align: center;
                
                border-bottom: 1px $base solid;
                .li-wrapper{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                a {
                    color: $oil;
                    padding: 0;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    line-height: 3.2rem;
                }
                a.active {
                    color: $black;
                }
                a.flyout-toggle {                   

                    span::before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f13a";
                        display: inline-block;
                        font-weight: 900;
                    }
                }
                span {
                    padding: 1rem 0 1rem 1rem;
                    font-size: 1.1rem;
                    font-size: 1.1rem;
                    cursor: pointer;
                    line-height: 1.2rem;
//                    border-left: 1px $base solid;
                }
            }
        }

        ul ul {
            padding: 0 0 0 1rem;
            li{
                border: none;
                a{
                    text-transform: none;
                }
            }
        }
    }
}

.mobil_nav.open {
    display: block;
    pointer-events: all;
}


.menu.medium-horizontal > li {
    display: block !important;
    text-align: center;

}
